body {
    background-image: url('/img/kamehouse.jpg');
    background-size:cover;
    /* background-repeat: no-repeat; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.container div{
    margin-top: 5%;
}
#bienvenue{
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #7BC9FF 0px 5px 15px;
    border: 1px solid #7BC9FF;
    /* margin: 5%; */
    background-color: rgba(255, 255, 255, 0.671);
  }
#presentation{
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #7BC9FF 0px 5px 15px;
    border: 1px solid #7BC9FF;
    /* margin: 5%; */
    background-color: rgba(255, 255, 255, 0.671);
  }
#actu{
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #7BC9FF 0px 5px 15px;
    border: 1px solid #7BC9FF;
    /* margin: 5%; */
    background-color: rgba(255, 255, 255, 0.671);
  }
  .navbar{
    margin: 5%;
    /* position: fixed; */
  }
